COMMON_EMAIL=Login email

RJA_URL=Portal url
COMPLIANCE_URL=Portal url
IVD_URL=Portal url
SA_URL=Portal url
SAP_URL=Portal url
PRICING_URL=Portal url
PTP_URL=Portal url
B2B_URL=Portal url
B2C_URL=Portal url
SOI_URL=Portal url
PAP_URL=Portal url